img {
    max-width:100px;
    max-height:100px;
    position: absolute;
    left: 20px;
    top: 200px;
}
#line {
    width: 280px;
    height: 5px;
    background: black;
    position: absolute;
    top: 300px;
    left: 20px;
}
